.bigTopLeftRoundInvert {
	position: fixed;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background: black;
	-webkit-mask-image: radial-gradient(
		circle 10px at bottom right,
		transparent 0,
		transparent 20px,
		black 21px
	);
}
