.projects {
    @apply grid grid-cols-2 gap-4;
    color: black;

    &-con {
        @apply bg-slate-50 rounded-2xl shadow-lg p-4 h-[80vh] relative overflow-hidden;

        &:not(.col-span-2) {
            @apply h-[60vh];
        }

        .arrow {
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            .arrow {
                rotate: 45deg;
            }

            .project-title-con {
                width: fit-content;
                gap: 1em;

                .text {
                    opacity: 1;
                    width: 150px;
                    transition: opacity 0s ease-in 600ms, opacity 2s, width 200ms ease-in-out;
                }
            }
        }

        .project-title-con {
            display: flex;
            gap: 0em;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            background: black;
            color: white;
            height: 70px;
            width: auto;
            transition: width .5s linear;
            padding: 1em;

            @media only screen and (max-width: 768px) {
                gap: 1em;

                .arrow {
                    rotate: 45deg;
                }
            }

            .arrow-con {
                opacity: 1;
                transition: opacity 0s ease-in 600ms, opacity 600ms;
            }

            .text {
                opacity: 0;
                position: relative;
                width: 0;
                transition: opacity 0s ease-in 600ms, opacity 400ms, width 200ms ease-in-out;

                @media only screen and (max-width: 768px) {
                    opacity: 1;
                    width: 150px;
                }
            }
        }
    }
}